@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Martian Mono', monospace;
	--menu-bg: #161616;
	--web-bg: #0C122B;
	--youtube-bg: #360B0B;
	--tiktok-bg: #112C2B;
	--instagram-bg: #3C1A31;

	--text-color: #FFFFFFBB;
	--border-color: #FFFFFF50;
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
	margin: 0;
}

a {
	text-decoration: underline;
	transition: color 0.3s;
}

a:hover {
	color: white;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

/* input,
button {
	font-size: inherit;
	font-family: inherit;
} */

/* @media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
} */